/*body{
           margin:0px ;
	background:url(../images/bg-body1.jpg);
      width:1260px;
    height: auto;      
    display: block;
    font-family: "Microsoft YaHei" ! important; 
        }
div.commenttop{
0px 0px 0px;
    
    
}

div.button{
    border-style:solid;
    width:120px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border-color: white;
    background-color:rgba(60,255,4,0.2);
    font-family: ;
    margin-left: 70%;
    margin-top: 70px;
    color: white;
}
div.button:hover{
        border-style: solid;
    width:120px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border-color: white;
    background-color: goldenrod;
    font-family: ;
    margin-top: 75px;
    color:white;
}
div.comment{
   
    
    
}
div.text{
    position: absolute;
    margin-top: 50px;
    margin-left: 120px;
    width: auto;
    font-family:  "Microsoft YaHei" ! important; 
    text-align: center;
    line-height: 40px;
}
div.text2{
    position: absolute;
    margin-top: 200px;
    margin-left: 270px;
    width: auto;
    font-family:  "Microsoft YaHei" ! important; 
    text-align: center;
}


div.board{
    background-color:rgba(60,255,4,0.2);
    border-style:solid;
    border-width:4px;
    border-color: white;
    padding:5px;
    position: absolute;
    left: 225px;
    top:340px;
    width:800px;
    height: 700px;
    border-radius: 3%;
}
div.toptext{
    margin: 50px 310px 20px 325px;
    color: white;
    letter-spacing: 14px;


}
div.space
{
    position: absolute;
    top:1090px;
    width: 1260px;
    height: 100px;
}*/
body{
	margin:0;
	background:url(../images/bg-body1.jpg);
      font-family: "Microsoft JhengHei" ;
}
/*------------------------- Header ------------------------*/
.header{
	background:url(../images/bg-header.gif) repeat-x center bottom;
	padding: 0 0 2px;
}
.header div{
	width:940px;
	padding:0 10px;
	margin:0 auto;
}
.header div a#logo{
	text-align:center;
	display:block;
	width:480px;
	height:118px;
	/*margin:98px auto 40px;*/
    margin:0px auto 20px;
    padding: 5px;
}
.header div a#logo img{
	border:0;
}
.header div ul{
	list-style:none;
	margin:0;
	padding:0 12px;
	overflow:hidden;
}
.header div ul li:first-child{
	margin:0;
}
.header div ul li.selected{
	background:url(../images/bg-menu-selected1.jpg) repeat-x;
}
.header div ul li{
	float:left;
	margin:0 0 0 0 41px;
	text-align: center;
	width:150px;
	height:59px;
        
}
.header div ul li a:hover{
	color:#FFA500;
}
.header div ul li a{
	text-decoration:none;
	color:#fff;
	
	font-size: 28px;
	display: block;

	margin: 15px 0 0;
	text-transform:uppercase;
	line-height:36px;
	outline:none;
}
.dropdown-content
{
    display: none;/*把一個物件完全的隱藏*/
    position:absolute;/**/
    background:url(../images/bg-body1.jpg);
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    padding: 2px;
  }


  /*下拉後a的樣式*/
  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  /*下拉後a被hover的樣式*/
  .dropdown-content a:hover{
    background: 
        
      linear-gradient(90deg,rgba(154 ,205 ,50,.2) 50%,transparent 50%),
      linear-gradient(rgba(255, 69, 0,.2) 50%,transparent 50%);
      background-size: 20px 20px;
      color:#FFA500;
      font-weight:bold;
     
  }
.dropdown:hover .dropdown-content{
    display: block;
  }
        
.dropdown-content
{
    display: none;/*把一個物件完全的隱藏*/
    position:absolute;/**/
    background:url(../images/bg-body1.jpg);
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    padding: 2px;
  }


  /*下拉後a的樣式*/
  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  /*下拉後a被hover的樣式*/
  .dropdown-content a:hover{
    background: 
        
     /* linear-gradient(90deg,rgba(154 ,205 ,50,.2) 50%,transparent 50%),*/
      linear-gradient(rgba(124, 205, 124,.2) 50%,transparent 50%);
      background-size: 20px 20px;
      color:#FFA500;
      font-weight:bold;
     
  }
.dropdown:hover .dropdown-content{
    display: inline-block;
  }
/*------------------------- Content ------------------------*/
.content{
	/*background:url(../images/bg-body1.jpg);*/
    width: 1040px;
    height: 950px;
}
div.commenttop{
0px 0px 0px;
    
    
}

div.button{
    border-style:solid;
    width:120px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border-color: white;
    background-color:rgba(60,255,4,0.2);
    font-family: ;
    margin-left: 75%;
    margin-top: 70px;
    color: white;
}
div.button:hover{
        border-style: solid;
    width:120px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border-color: white;
    background-color: goldenrod;
    font-family: ;
    margin-top: 75px;
    color:white;
}
div.comment{
   
    
    
}
div.text{
    position: absolute;
    margin-top: 50px;
    margin-left: 120px;
    width: auto;
    font-family:  "Microsoft YaHei" ! important; 
    text-align: center;
    line-height: 40px;
}
div.text2{
    position: absolute;
    margin-top: 200px;
    margin-left: 270px;
    width: auto;
    font-family:  "Microsoft YaHei" ! important; 
    text-align: center;
}


div.board{
    background-color:rgba(60,255,4,0.2);
    border-style:solid;
    border-width:4px;
    border-color: white;
    padding:5px;
    position: absolute;
    left: 225px;
    top:340px;
    width:800px;
    height: 700px;
    border-radius: 3%;
    margin-top: 30px;
}
div.toptext{
    margin: 50px 310px 20px 325px;
    color: white;
    letter-spacing: 14px;


}
div.space
{
    position: absolute;
    top:1090px;
    width: 1260px;
    height: 100px;
}